{
  "$schema": "https://json.schemastore.org/prettierrc.json",
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "quoteProps": "consistent",
  "useTabs": false,
  "tabWidth": 2,
  "endOfLine": "lf",
  "plugins": [
    "prettier-plugin-packagejson"
  ]
}